#bemvindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25vh;
    border: 1px #2779a7 solid;
    width: 50vh;
    justify-content: center;
}
#bemvindo img{
    width: 300px;
    height: auto;
}
#bemvindo button{
    border-radius: 5px;
    background-color: #2779a7;
}