.contato{
    margin-top: 50px;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/*********************************** Contato **********************************/
.formContato{
    background: url('../imagens/contato.jpeg') no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    margin-top: 0px;
    position: relative;
    
}
.formsContato{
    display: flex;
    width: 100%;
    margin: 10px;
    align-items: center;
    text-align: center;
    border:1px blueviolet solid;
    color: #000;
    flex-direction: column;
    height: 400px;
}
.info, .social, .mensagem{
    width: 70%;
    margin: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #1684A7;
}
.info, .mensagem{
    flex-direction: column;
}
#nome, #email, #msg{
    width: 50%;
    border-radius: 5px;
}
#msg {
    height: 100px;
}
.enviarMensagem{
    border-radius: 5px;
    background-color: #2779a7;
}
/*********************************** Redes Sociais **********************************/
.social{    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.iconSocial{
    font-size: 30px;
    margin: 10px;
    color: #49c5b6;
}