.contato{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*********************************** Contato **********************************/
.formContato{
    background-color: #09A599;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    margin-top: 0px;
    position: relative;
    flex-direction: column;
    
}
.formsContato{
    display: flex;
    width: 100%;
    margin: 10px;
    align-items: center;
    text-align: center;
    color: #F6EC72;
    flex-direction: column;
    height: 400px;
}
.info, .mensagem{
    width: 70%;
    margin: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #F6EC72;
    
}
.info, .mensagem{
    flex-direction: column;
}
#nome, #email, #msg{
    width: 50%;
    border-radius: 5px;
}
#msg {
    height: 100px;
}
.enviarMensagem{
    border-radius: 5px;
    background-color: #2779a7;
    color: #F6EC72;
}
/*********************************** Redes Sociais **********************************/
.social{    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.iconSocial{
    font-size: 30px;
    margin: 10px;
    color: #49c5b6;
}
#sedes{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 30vh;
    min-width: 30px;
}