#navMain{
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    background-color: #2779a7;
    border-bottom: 1px solid #F29F05;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
}
#navMain:after{
    clear: both;
    content: "";
}
#navSec{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: #fff;
    text-align: center;

}
#navSec li{
    list-style-type: none;
    display: inline;
    align-items: center;
    background-color: #F29F05;
}
#navhome{
    float: left;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #fff;
}
#navmenu{
    float: right;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    color: #fff;
}